@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.col-md-5 {
    font-family: 'Ubuntu Mono', monospace;
  }
  
  .our-skills .progress-bar {
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;

}

.progress-bar-success {
    background-color: #5cb85c;
}

.our-skills .progress-bar {
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}

.progress-bar-danger {
    background-color: #d9534f;
}

.our-skills .progress-bar {
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}


.progress-bar-warning {
    background-color: #f0ad4e; }
    
.our-skills .progress-bar {
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}

.progress-bar-info {
    background-color: #5bc0de;
}

.our-skills .progress {
    height: 36px;

}
.skills-info  {
     font-family: 'Ubuntu Mono', monospace;
     

}
.container {
     font-family: 'Ubuntu Mono', monospace;

}